@charset "UTF-8";

form {
    width: 500px;
    height: 280px;
    position: relative;
    right: -740px;
    bottom: -42px;
}
   
input{
    background-color: var(--cor2);
    border-radius: 8px;
    width: 450px;
    height: 35px;
    flex-direction: column;
}
   
.botao {
    font-size: 1em;
    background-color: var(--cor4);
    border-radius: 8px;
    position: relative;
    width: 450px;
    height: 38px;
    top: 35px;
}

p.entrar {
    font-family: var(--fonte-padão);
    width: 200px;
    height: 21px;
    font-size: 14px;
    position: relative;
    right: -879px;
    bottom: -178px;

}

h1  {
    width: 210px;
    height: 48px;
    font-family: var(--fonte-padão); 
    font-size: 2em;
    position: relative;
    margin: -2%;
    left: 854px;
    bottom: -36px;
}

aside p {
    font-family: var(--fonte-padão);
    position: relative;
    width: 366px;
    height: 108px;
    left: 161px;
    top: 341px;
    font-size: 36px;
    color: var(--cor5);
}
